@import '../../styles/variables';

header {
  background: $white;
  border-bottom: 1px solid $gray-light;
  box-shadow: 0 2px 2px rgba(0,0,0,.1);
  padding: 1rem 2rem;
  position: relative;

  h1 {
    color: darken($primary, 5%);
    margin: 0;
  }

  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media(min-width: 992px) {
  header {
    .header-container {
      margin-left: auto;
      margin-right: auto;
      width: 960px;
      padding: 0 2rem;
    }
  }
}