.user-card-container {
  background-color: $white;
  border: 1px solid rgba(0,0,0,.2);
  transition: opacity .5s ease-in-out;
  opacity: 0;

  &.loaded {
    opacity: 1;
  }

  &.loading {
    opacity: 1;
    min-height: 420px;
    text-align: center;

    h4,
    h5,
    .gamer-logo,
    .btn {
      display: none;
    }
    .fa-spinner {
      margin-top: 170px;
    }
  }

  h4 {
    background-color: rgba(0,0,0,0.8);
    padding: 10px;
    color: $white;
    text-shadow: 0 1px 0 rgba(0,0,0,.8);
    margin: 0;
  }
  h5 {
    margin: 0;
    padding: 10px 0;
    text-align: center;
  }
  .gamer-logo {
    border-radius: 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,.4);
    max-width: 50%;
    margin: 18px auto;
  }
  .fa {
    font-size: 80px;
  }
}

.gamer-card-container {
  background-color: $white;
  border: 1px solid #ccc;

  h2 {
    background-color: $green-dark;
    color: $white;
    margin-top: 0;
    padding: 10px;

    .badge {
      color: $black;
      background-color: $white; 
      margin-left: 5px;
      margin-top: 6px;
      box-shadow: inset 1px 1px 0 rgba(0,0,0,.5);
    }
  }
  h5 {
    font-weight: bold;
  }
  .content {
    padding-left: 15px;
    padding-right: 15px;
  }
  .avatar {
    margin: 0 auto;
  }
  .player-details {
    margin-top: 40px;
  }
}
