.player-details-container {
  background-color: $white;
  border: 1px solid #ccc;
  min-height: 365px;

  &.loading {
    .content {
      text-align: center;
    }
    .fetching {
      opacity: 1;
    }
  }
  h3 {
    background-color: $green-dark;
    color: $white;
    margin-top: 0;
    padding: 13px;
  }
  .content {
    padding: 15px;
  }
  .fa-spinner {
    font-size: 80px;
    margin: 60px auto;
  }
  .fetching {
    opacity: 0;
    transition: opactiy 1s ease-in-out;

    h5 {
      font-weight: bold;
    }
  }
  .panel {

    &.panel-success {
      .panel-heading {
        border-bottom-color: darken($state-success-border, 10%); 
      }
    }
    .panel-heading {
      font-weight: bold;
      border-bottom-width: 2px;
    }

    .fa {
      opacity: 0;
      transition: opacity 1s ease-in-out;
    }
    &.loaded {
      .fa-check {
        opacity: 1;
      }
      .fa-times {
        display: none;
      }
    }
    &.failed {
      .fa-check {
        display: none;
      }
      .fa-times {
        opacity: 1;
      }
    }
  }
  .call-list {
    padding-left: 15px;

    li {
      font-weight: bold;
      transition: color 1s ease-in-out;
      max-height: 20px;

      &.complete {
        transition: all 1s ease-in-out;
        height: 0;
        overflow: hidden;
      }
      &.loaded {
        .fa {
          opacity: 1;
        }
      }
      .fa {
        opacity: 0;
        transition: opactiy 1s ease-in-out;
      }
    }
  }
}
