// import our custom BS variables file
@import 'variables';

// import main BS router file to get all BS css
@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import '../node_modules/font-awesome/scss/font-awesome';

// importing partials for custom elements
@import 'form-containers';
@import 'gamer-card';
@import 'player-details';

body {
  background-image: url($image-base + 'body-bg.png');
  background-repeat: repeat;
  background-position: top left;
}

// Navigation
.navbar-default {
  box-shadow: 0 1px 3px rgba(0,0,0,.4);
}

.secondary {
  background-color: rgba(221, 216, 206, .7);
  border-top: rgb(221, 216, 206);
  border-bottom: rgb(221, 216, 206);
}

// Base overrides //
.container {
  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    margin-top: 10px;
  }
}

// Footer
.sticky {
  position: absolute;
  left: 0;
  right: 0;

  &.bottom {
    bottom: 0;
  }
  &.top {
    top: 0;
  }
}
