$image-path: '/img/';
$black: #333;
$white: #fafafa;

// Include Bootstrap
@import '../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';

// Include font-awesome 
@import '../bower_components/font-awesome/scss/font-awesome';

// Include google font
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900');

body {
  background: url($image-path + 'body-bg.png');
  color: $black;
  font-family: 'Rubik', sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 0 10px;
}

h1,
h2 {
  font-weight: 900;
}

h3,
h4 {
  font-weight: 700;
}

h5,
h6 {
  font-weight: 500;
}

p,
a,
ul,
ol {
  font-weight: 400;
}

header {
  background: rgba(0,0,0,.6);
  border-bottom: 1px solid #333;
  box-shadow: 0 2px 3px rgba(0,0,0,0.3); 
  color: $white;
  padding: 20px 0;
  margin-bottom: 20px;
}

.main-content {
  margin-top: 20px;
}

.box {
  border: 1px solid rgba(0,0,0,.3);
  background: url($image-path + 'player-card-bg.png') top left repeat;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  margin: 20px auto;
  padding: 20px;

  h2 {
    margin-bottom: 10px;
  }
  p {
    color: #666;
  }
  img {
    border: 1px solid rgba(0,0,0,.3);
  }
  .fa-spinner {
    font-size: 80px;
  }
  &.loading {
    text-align: center;
  }
  &.empty {
    display: none;
  }
}
