@import '../../styles/variables';

footer {
  margin-top: 2rem;

  h5 {
    background: $secondary;
    padding: 1rem;
    border: 1px solid darken($secondary, 10%);
    margin-bottom: 1rem;
  }

  p {
    margin: 0;
  }

  ul {
    padding: 0;
    list-style-type: none;

    li {
      padding-top: .5rem;
      padding-bottom: .5rem;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  .footer-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;

    .column {
      padding-left: .5rem;
      padding-right: .5rem;
      width: 20%;

      &:nth-child(2) {
        width: 60%;
      }
    }
  }
}