// colors
$white: #fff;
$gray-light: #888;
$gray-dark: #333;
$primary: #107c10;
$secondary: #C0D1CE;
$shadow-1: rgba(0,0,0,.1);
$shadow-2: rgba(0,0,0,.2);
$shadow-3: rgba(0,0,0,.3);
$black: #011;
$error: #D11D05;

// media queries
$tablet: 'min-width: 768px';
$desktop: 'min-width: 992px';